
.piano {
    display: flex;
    margin-top: 40px;
}

.piano .key {
    cursor: pointer;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}

.piano .white {
    width: 70px;
    height: 230px;
    border: 1px solid black;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}

.piano span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.piano .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom #000, #434343);
}

.piano .key.hide span {
    display: none;
}


@media (max-width: 600px) {
    .piano{
        width: 100%;
        justify-content: space-between;
    }
    .piano .white {
        width: 35px;
    }
    .piano .black {
        width: 25px;
    }
}